/* Header */

img {
    max-width: 100%;
    height: auto;
}

/* Main */

select:first-child {
    margin: 10px;
}

main a {
    margin: 10px;
    text-decoration: none;
    padding: 10px;
    width: calc(100% - 40px);
    background-color: #EB4F75;
    color: white;
    display: flex;
    justify-content: center;
}

/* Footer */

footer {
    padding: 20px;
    background-color: #EB4F75;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

footer a {
    color: white;
    text-decoration: none;
    margin-bottom: 0px;
}

/* contact */

input, textarea {
    margin: 10px 0px 5px 0px;
    width: calc(100% - 10px);
    border: 3px solid #8daef2;
    font-family: 'FilsonPro';

}

textarea {
    height: 80px;

}

input:last-child {
    width: 100%;
    background-color: #8daef2;
    color: white;
    padding: 10px;
    border: none;
    font-family: 'FilsonPro';
}



@font-face {
    font-family: 'FilsonPro';
    src: url('../assets/FilsonProRegular.otf');
    font-style: normal;
    font-weight: 300;
  }
  
  @font-face {
      font-family: 'AcuminVariable';
      src: url('../assets/AcuminVariableConcept.otf');
      font-style: normal;
      font-weight: 300;
  }
  
html {
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
  }
  
  /* Stel een witte achtergrond in en geef de body een beetje margin, relatief ten opzichte van het schermformaat */
  body {
      background-color: rgb(255, 255, 255);
      background-size: 300px 400px;
      margin: 1vh 1vw 1vh 1vw;
      width: 320px;
      padding: 10px;
      border: 5px solid #5475B6;
  }
  
  /* onderstaande styles voor de <h1>, <h2>, <p> an <a> tags geven een voorbeeld
     hoe je de geimporteerde fonts kunt gebruiken.
     Op je eigen website mag je natuurlijk andere lettertypes, groottes, en
     kleuren, etc. voor deze tags gebruiken. */
     
  h1 {
      font-family: 'FilsonPro', sans-serif;   
      font-size: 2em;
      text-transform: uppercase;
      color: #5475B6;
      font-weight: 700; /* bold */
      margin-bottom: 0.5em;
      text-align: center;
  }
  
  h2 {
      font-family: 'FilsonPro', sans-serif;   
      font-size: 1.5em;
      color: #FFFFFF;
      background-color: #EB4F75;
      font-weight: 700;
      width: fit-content;
      padding: 5px 20px 5px 20px;
      margin-bottom: 0.5em;
      text-align: center;
  }
  
  p {
      font-family: 'AcuminVariable', sans-serif;
      font-size: 1em;
      color: #082040;
      margin-bottom: 0.5em;
  }
  
  a {
      color:#EB4F75;  
      font-family: 'AcuminVariable', sans-serif;
      font-size: 1em;
      margin-bottom: 0.5em;
  }
  
  
  